@use "base/variables" as v;
@use "base/mixins" as m;

.repartidores {
  padding: v.$separacion 0;
  &__header {
    text-align: center;
  }
  &__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  &__grid {
    @include m.tablet {
      @include m.grid(2, v.$separacion);
      align-items: center;
    }
  }

  &__enlace {
    @include m.boton(v.$primario, v.$blanco);
  }

  &__texto {
    line-height: 1.5;
    color: v.$secundario;
  }
}
