@use "base/variables" as v;
@use "base/mixins" as m;

.testimoniales {
  padding: v.$separacion 0;

  &__heading {
    text-align: center;
    font-weight: 900;
  }
  &__grid {
    @include m.tablet {
      @include m.grid(5, 2rem);
    }
  }
}
